<h1>Show Event</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @event.name %>
  </li>
  <li>
    <%= @event.name <> " Attendees" %>
    <ul>
    <%= for event_attendee <- @event_attendees do %>
      <li>
        <%= event_attendee.user.email %> |
        <%= event_attendee.gift_plan %>
      </li>
    <% end %>
    </ul>
  </li>

</ul>
<span><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span> |
<span><%= link "Back", to: Routes.event_path(@conn, :index) %></span>
