<h1>Show Giftplan</h1>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @giftplan.name %>
  </li>

  <li>
    <strong>Gift from:</strong>
    <%= @giftplan.gift_from_id %>
  </li>

  <li>
    <strong>Gift to:</strong>
    <%= @giftplan.gift_to_id %>
  </li>
</ul>

<span><%= link("Edit", to: Routes.giftplan_path(@conn, :edit, @giftplan)) %></span> |
<span><%= link("Back", to: Routes.giftplan_path(@conn, :index)) %></span>
