<h1>Show Gift idea</h1>

<ul>
  <li>
    <strong>Idea:</strong>
    <%= @gift_idea.idea %>
  </li>
</ul>

<span><%= link("Edit", to: Routes.gift_idea_path(@conn, :edit, @recipient_id, @giver_id, @gift_idea)) %></span> |
