<img src={Routes.static_path(@conn, "/images/present.jpeg")} alt="A big present"/>
<section class="text-3xl font-bold underline">
  <h1><%= gettext "%{name}!", name: "Wrapped" %></h1>
  <p>Two people will never get the same gift ever again.</p>
  <%= link "Events", to: Routes.event_path(@conn, :index) %>
</section>
