<section class=" pl-2 mx-auto">
  <h1 class="text-7xl font-bold"><%= gettext("%{name}", name: "Unwrapped") %></h1>
  <p>Two people will never get the same gift ever again.</p>
  <br />
  <button class="px-4 py-1 text-sm text-teal-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-teal-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-teal-600 focus:ring-offset-2">
    <%= link("Events", to: Routes.event_path(@conn, :index)) %>
  </button>
</section>
