<section class="phx-hero">
  <h1><%= gettext "%{name}!", name: "Wrapped" %></h1>
  <p>Two people will never get the same gift ever again.</p>
  <%= link "Events", to: Routes.event_path(@conn, :index) %>
</section>
